/* Styles Reset */

/*Index Styles/ Title Styles*/
    /*Font Styling*/
    .title {
        font-family: "Kaushan Script";
    }

    /*Navigation*/
    ul {
        list-style-type: none;
    }

    .nav-bar .btn-1-1{
        background-color: #D6463D;
    }

    .nav-bar .btn-1-2{
        background-color: #D6463D;
    }

    .nav-bar .btn-1-3{
        background-color: #D6463D;
    }

    .nav-bar .btn-1-1{
        color: #F4E692;
        padding: 5px;
    }

    .nav-bar .btn-1-2{
        color: #F4E692;
        padding: 5px;
    }
    
    .nav-bar .btn-1-3{
        color: #F4E692;
        padding: 5px;
    }
    
    .nav-bar a:hover {
        color: #FFDE00;
    }
